.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  margin: 0 0.5rem;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 15px;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 0;
}

.btn_group {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}
